.footer {
    padding-top: 90px;
    background-color: $bg-grey-color;
  
    &__content {
      margin-bottom: 50px;
      @include flex-justify-between;
      gap: 35px;

      @media (max-width: $md) {
        flex-direction: column;
        align-items: center;
        gap: 60px 0;
      }
    }
  
    &__logo-container {
      flex-basis: 280px;

      @media (max-width: $md) {
        text-align: center;
        flex-basis: unset;
      }
    }
  
    &__logo {
      display: inline-block;
      margin-bottom: 20px;
    }
  
    &__nav {
      display: flex;
      gap: 0 80px;

      @media (max-width: $sm) {
        flex-direction: column;
        align-items: center;
        gap: 30px 0;
      }
    }
  
    &__nav-title {
      margin-bottom: rem(20);
    }
  
    &__nav-list {
      li {
        margin-bottom: 1rem;
        transition: all .2s ease-in-out;
      }
  
      li:hover {
        transform: scale(1.05); 
        color: $first-accent-color;
      }
    }
  
    &__socials {
      @include flex-align-center;
      gap: 20px;

      @media (max-width: $md) {
        justify-content: center;
      }
    }

    &__logo{
      width: 18px;
      height: 18px;
    }
  
    &__socials-link {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include flex-center;
      background-color: $socials-grey-color;
      transition: all .3s ease-in-out;
  
      &:hover {
        scale: 1.05;
        background-color: $first-accent-color;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      }
    }
  
    &__copyright {
      padding: 25px 0;
      border-top: 1px solid #c4c4c4;
      text-align: center;

      &_green{
        color: $first-accent-color;
      }
    }
}
  