.services {
    position: relative;
    padding-bottom: 330px;
    margin-bottom: 140px;

    @media (max-width: $sm) {
      margin-bottom: 60px;
    }

    &__decoration{
      position: absolute;
      right: 0;
      bottom: 0;
    }
  
    &__tabs {
      margin-bottom: rem(110);
      @include flex-align-center;
      gap: rem(18) rem(77);
      flex-wrap: wrap;

      @media (max-width: $md) {
        flex-direction: column;
      }
    }
  
    &__tab {
      outline: none;
      width: rem(230);
      padding: rem(10);
      border: 5px solid $first-accent-color;
      border-radius: 20px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: $first-accent-color;
      color: $white-color;
      transition: all .2s ease-in-out;
      @include flex-center;
      margin-top: 45px;

      &.active {
        background-color: $white-color;
        color: $first-accent-color;
      }
  
      &:hover {
        opacity: 0.9;
      }
    }
  
    &__cards {
      @include flex-center;
      flex-wrap: wrap;
      gap: 80px 40px;
    }
  
    &__card {
      padding: rem(30) rem(40);
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
      animation: show-card .5s ease-in;
  
      &_brown {
        background-color: $second-accent-color;
        color: $white-color;
      }
    }
}
  
.card{
    max-width: 420px;
    border-radius: 60px 0px;
    display: flex;
    align-items: flex-start;
    gap: 20px;

    &__title {
      margin-bottom: 0.5rem;
      font-weight: 700;
      text-transform: capitalize;
      color: $title-color;
      width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &_white{
        color: $white-color;
      }
    }
  
    &__description {
      font-size: 1.125rem;
      line-height: 1.75rem;
      letter-spacing: -0.01em;
      text-transform: capitalize;
      word-wrap: break-word;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        max-height: 5em;
    }

    &__icon{
      width: rem(44);
      height: rem(34);
    }
}


@keyframes show-card {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}